.tracardi-preview {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: white;
  padding: 0 1em;
  font-size: 12px;
  border: 1px solid black;
  z-index: 20000000;
}
.tracardi-preview label {
  display: block;
  margin-bottom: 1em;
}
.tracardi-preview select, .tracardi-preview input {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}
.tracardi-preview .widget {
  display: inline-grid;
  min-width: 12em;
}
.tracardi-preview .widget:not(:last-child) {
  margin-right: 1em;
}
