<form id="js--tracardi-preview" class="tracardi-preview">
  <h2>{{ "Personalization preview"|trans }}</h2>
  <p>{{ "Track events are not being send to Tracardi while previewing."|trans }}</p>
  <div class="js--widgets">
    {% for plugin in plugins %}
      <div class="widget" data-cookie-name="{{ plugin.getCookieName() }}">
        {{ plugin.getPreviewWidget() }}
      </div>
    {% endfor %}
  </div>
<input type="submit" value="{{ "Apply"|trans }}"></form>
